# .gitignore

# Ignora o diretório .replit
.replit

# Ignora os arquivos binários de compilação
*.o
*.out
*.a
*.so
*.exe

# Ignora arquivos de backup criados por alguns editores de texto
*~

# Ignora o arquivo de log
*.log

# Ignora arquivos de configuração do compilador
*.user
*.sdf
*.suo
*.opensdf
